<!DOCTYPE html>
<html ng-app="micromedProject">
	<head>
		<meta charset="UTF-8">
		<title>Micromed Project</title>
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<link href="bower_components/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet">
		<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
		<link href="app/css/main.css" rel="stylesheet">
		<script src="app/app.js"></script>
		<script src="app/main-controller.js"></script>
		<script src="app/home/home-controller.js"></script>
		<script src="app/produtos/produtos-controller.js"></script>
		<script src="app/produtos/produtos-service.js"></script>
		<script src="app/produtos/produto-record-controller.js"></script>
		<script src="app/pedidos/pedidos-controller.js"></script>
		<script src="app/pedidos/pedidos-service.js"></script>
		<script src="app/pedidos/pedido-record-controller.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse"></button>
					<a class="navbar-brand" href="#">Micromed Project</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a ng-click="goToProdutos();" class="pointer">Produtos</a></li>
						<li><a ng-click="goToPedidos();" class="pointer">Pedidos</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div ng-view></div>
		</div>
	</body>
</html>